<meta name="viewport" content="width=device-width" />
<mat-card class="card-design">
  <form class="example-container" [formGroup]="employeeForm">
    <div class="row">
      <mat-card class="employeeCard">Add Employee</mat-card>
      <br>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Employee Name" type="text" formControlName="name" required>
          <mat-icon matSuffix class="icon-color">home</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mobile Number" formControlName="mobileNo" required pattern="[6789]\d{9}" maxlength="10">
          <mat-icon matSuffix class="icon-color">phone_iphone</mat-icon>
          <mat-error> Invalid MobileNo</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="DOB"  [matDatepicker]="picker"  formControlName="birthDate" readonly required>
          <mat-datepicker-toggle matSuffix [for]="picker" class="icon-size">
            <mat-icon matDatepickerToggleIcon class="icon-color">date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ID proof" formControlName="idProof" required>
          <mat-icon matSuffix class="icon-color">chrome_reader_mode</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Address" formControlName="address" required>
          <mat-icon matSuffix class="icon-color">portrait</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Landmark" formControlName="landmark">
          <mat-icon matSuffix class="icon-color">golf_course</mat-icon>
        </mat-form-field>

        <!-- <mat-form-field class="example-full-width">-->
        <mat-autocomplete>
          <mat-option *ngFor="let option of states" [value]="option">
            {{ option }}
          </mat-option>
          <mat-icon matSuffix class="icon-color">person_pin_circle</mat-icon>

        </mat-autocomplete>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" formControlName="state">
          <mat-icon matSuffix class="icon-color">person_pin_circle</mat-icon>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
            <mat-option *ngFor="let state of states" [value]="state">
              <span>{{ state }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!--

      </mat-form-field>-->
      </div>
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="District" formControlName="district" [matAutocomplete]="dt" [readonly]="isDistrict">
          <mat-icon matSuffix class="icon-color">person_pin_circle</mat-icon>
          <mat-autocomplete #dt="matAutocomplete" (optionSelected)="selectDistrict($event)">
            <mat-option *ngFor="let district of districts" [value]="district">
              <span>{{ district }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Taluk" formControlName="taluk" [matAutocomplete]="tk" [readonly]="isTaluk">
          <mat-icon matSuffix class="icon-color">person_pin_circle</mat-icon>
          <mat-autocomplete #tk="matAutocomplete">
            <mat-option *ngFor="let taluk of taluks" [value]="taluk">
              <span>{{ taluk }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Pincode" formControlName="pincode" required pattern="[0-9]{6}" maxlength="6">
          <mat-icon matSuffix class="icon-color">plus_one</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Department" formControlName="department" required >
          <mat-icon matSuffix class="icon-color">domain</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Designation" formControlName="designation" required>
          <mat-icon matSuffix class="icon-color">assignment_ind</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Branch" formControlName="branch" required>
          <mat-icon matSuffix class="icon-color">call_split</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Joined Date"  [matDatepicker]="jd" disabled  formControlName="joinedDate" readonly required>
          <mat-datepicker-toggle matSuffix [for]="jd" class="icon-size">
            <mat-icon matDatepickerToggleIcon class="icon-color">date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #jd disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
  <mat-card-actions> <button mat-raised-button class="submitBtn" [disabled]="!employeeForm.valid" (click)="addEmployee(employeeForm)">Submit</button>
    <button mat-raised-button class="submitBtn" (click)="resetForm()">Reset</button></mat-card-actions>
</mat-card>
