<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <h4 class="example-app-name">Angular App</h4>
    <button mat-icon-button class="toggleBtn" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <mat-icon matBadge="15" matBadgeColor="warn" style="margin-left: 85%;">account_box</mat-icon>
    <button mat-icon-button routerLink="/" ><mat-icon><i class="fa fa-sign-out"  style="margin-left: 10%;"></i></mat-icon> </button>

    <!-- <mat-menu #menu="matMenu">
       <mat-grid-list cols="4" rowHeight="100px">
         <mat-grid-tile
           *ngFor="let tile of tiles"
           [colspan]="tile.cols"
           [rowspan]="tile.rows"
           [style.background]="tile.color">
           {{tile.text}}
         </mat-grid-tile>
       </mat-grid-list>
   </mat-menu>-->
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="sideNavWidth" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened="true"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <app-menus></app-menus>
    </mat-sidenav>
    <mat-sidenav-content class="contentWidth">
    <!--  <app-breadcrumb></app-breadcrumb>-->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


